<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA"/>
    
    <!-- Storage permissions for Android < 13 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="29"
        tools:replace="android:maxSdkVersion"/>
    
    <!-- Storage permissions for Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <!-- READ_MEDIA_VIDEO not needed - we only use photos for food logging -->
    <!-- <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/> -->
    
    <!-- Internet for Gemini API -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <!-- Billing for In-App Purchase -->
    <uses-permission android:name="com.android.vending.BILLING" />
    
    <!-- Block unwanted permissions from dependencies -->
    <uses-permission android:name="android.permission.READ_CALENDAR" tools:node="remove"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR" tools:node="remove"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove"/>
    
    <!-- Features -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    
    <!-- AD_ID Declaration: We do NOT use advertising ID (Android 13+) -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove"/>
    
    <!-- Queries for url_launcher (Android 11+) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>
    
    <application
        android:label="MIRO"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- Google Play Billing Client Version -->
        <meta-data
            android:name="com.google.android.play.billingclient.version"
            android:value="6.0.1"
            tools:replace="android:value" />
        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6145254112451474~9703380291"/>
    </application>
</manifest>
