# Template สำหรับ key.properties
# คัดลอกไฟล์นี้เป็น key.properties แล้วกรอกรหัสผ่านของคุณ
# ไฟล์ key.properties จะถูก ignore โดย .gitignore

storePassword=6six6yesonly
keyPassword=6six6yesonly
keyAlias=miro
storeFile=/Users/nu_mac_studio/ai_program/miro/android/miro-release-key.jks
